/*font-family: 'Raleway', sans-serif;*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    padding: 0px 40px;
}

.main-container {
    position: relative;
    min-height: 100vh;
}

 .header {
    position: relative;
    display: inline-block;
    width: 100%;
    height: auto;
}


.logo-box {
    position: relative;
    display: inline-block;
    top: 39px;
    /* float: left; */
}

.logo {
    height: 40px;
}

.heading {
    /* display: inline-block; */
    position: relative;
    top: 20px;
}
.search {
    position: relative;
    top: 30px;
    width: 150px;
    height: 50px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    padding: 0px;
}

.search > i {
    display: flex;
    color: black;
    background:  #e6e9ed;
    /* font-size: 20px; */
    top: 0;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    /* padding: 5px; */
    border-radius: 12px 0px 0px 12px;
}

.search > input {
    flex: 1;
    height: 100%;
    border: 0.01px solid lightgray;
    outline: none;
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding-left: 10px;
}

input > .searchbut { 
   position: absolute;
   top: 0;
   right: 0;
  }

.submit {
    top: 0;
    right: 0;
    width: 100px;
    height: 100%;
    background: #0065FC;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 0px 12px 12px 0px;
}  



.search1 {
    min-width: 255px;
}
.filters {
    top: 60px;
    position: relative;
    display: inline-block;
}
.filterP {
    display: inline-block;
    margin-right: 15px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.button {
    display: inline-block;
    height: auto;
    width: auto; /* Must be auto */
    border: 2px solid lightgray;
    border-radius: 36px;
    outline: none;
    font-size: 16px;
    background: white;
    color: black;
    font-weight: bold;
    /* padding-left: 7%; */
    /* padding-right: 10%; */
    padding: 0 20px;
    cursor: pointer;
    white-space: nowrap;
    
}

.button:hover {
    border: 2px solid #0065FC;
    color: #0065FC;
}


button i {
    display: flex;
    /* font-size: 20px; */
    top: auto;
    left: 0;
    height: auto;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    color: #0065FC;
    background: #DEEBFF;
    /* padding: 5px; */
    border-radius: 12px;
}

.information {
    position: relative;
    top: 90px;
}

/* .pCity {
     padding-left: 5%; 
}*/

.info-icon {
    color: #0065FC;
    position: relative;
    top: -25px;
    margin-right: 5px;
    border-radius: 50%;
    /* align-items: center; */
    text-align: center;
    line-height: 4px;
    vertical-align: middle;
    border: 0.001px solid #b4adad;
    padding: 10px;
    /* height: 5px; */
    /* width: 5px; */
}

.infoP {
    display: inline-block;
}

.nav , nav {
    /* height: 2em; */
    width: auto;
    float: right;

}

.navli {
    display: inline-block;
    padding: 40px 20px 0px 20px;
}

.nav-attribute {
    text-align: center;
    cursor: pointer;
    text-decoration: none;

}

.nav-attribute:hover {
    color: #0065FC;
}

.navli:hover {
    padding-top: 31px;
    border-top: 3px solid #0065FC;
    /* color: #0065FC; Didn't work here */
}
.input-group{
    display: inline-block;
    inline-size: fit-content;
    margin: 0px 10px;
}
.icon{
    position: relative;
    left: -21px;
    /* height: 50px; */
    border-radius: 50%;
    align-items: center;
    padding: 15px;
}

/* Accomodatios */

/* .accommodations-main { 
    display: flex;
    justify-content: space-between;
}*/

.accommodations-div {
    position: relative;
    top: 125px;
    border-radius: 2%;
    width: 69%;
    background: #f2f2f2;
    padding: 30px;
}


.pictures-div {
    display: inline-block;
    /* position: relative; */
    border: 3px solid #f2f2f2;
    /* margin-bottom: 25px; */
    background-color: white;
    box-shadow: 5px 5px 1px 2px #e1e1e1;
    border-radius: 10%;
    padding: 5px;
    margin-bottom: 25px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.under-picture {
    padding: 15px;
}
.star {
    color: #0065FC;
    padding-top: 5px;
}

.empty-star {
    color: #f2f2f2;
}


.image1 {
    display: inline-block;
    height: 100px;
    width: 245px;
    object-fit: cover;
    image-rendering: pixelated;
    border-radius: 10% 10% 0 0;
}

.show-more {
    color: #000;
    text-decoration: none;
}

.show-more:hover {
    color: #0065FC;
}

.accommodations-show-more {
    margin-top: 20px;
}

.most-popular {
    position: relative;
    display: grid;
    row-gap: 30px;
    top: -519px;
    width: 28%;
    float: right;
    background: #f2f2f2;
    border-radius: 2%;
    padding: 30px;
}

.mp-h2{ 
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.most-popular-h2 {
    display: inline-block;
}

.trending-icon {
    display: inline-block;
    padding: 10px 10px;
}

.pictures2-div {
    display: flex;
    /* position: relative; */
    /* border: 3px solid #f2f2f2; */
    /* margin-bottom: 25px; */
    background-color: white;
    box-shadow: 5px 5px 1px 2px #e1e1e1;
    border-radius: 10%;
    padding: 5px;
}

.right-of-picture {
    padding: 5px 15px;
    display: grid;
    grid-gap: 10px;
}

.image2 {
    height: 144px;
    width: 137px;
    object-fit: cover;
    image-rendering: pixelated;
    border-radius: 10% 0 0 10%;
}

.pictures2-grid {
    display: grid;
    row-gap: 25px;
}

/* Activities */

.activities-section {
    min-height: 100vh;
}

.activities-container {
    position: relative;
    top: auto;
    width: 100%;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 49% 6% 32%;
}

.activities-h2 {
    position: relative;
    top: 180px;
}

.marseille-pics1 {
    display: inline-block;
    height: 450px;
    width: 330px;
    object-fit: cover;
    image-rendering: pixelated;
    border-radius: 5% 5% 0 0;
}

.marseille-pics2 {
    display: inline-block;
    height: 202px;
    width: 330px;
    object-fit: cover;
    image-rendering: pixelated;
    border-radius: 5% 5% 0 0;
}

.marseille-pics3 {
    display: inline-block;
    height: 172px;
    width: 330px;
    object-fit: cover;
    image-rendering: pixelated;
    border-radius: 5% 5% 0 0;
}

.activities-Marseille {
    display: inline-block;
    position: relative;
    top: -415px;
    border: 1px solid #f2f2f2;
    border-radius: 5%;
    box-shadow: 5px 5px 10px 0px #f2f2f2;
}

.Marseille-under-pic {
    padding: 15px;
}

.Old-Port {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
}
.Pomègues-Fort {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
}

.Frioul-Island {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

.Calanques-National-Park {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.Notre-Dame-de-la-Garde {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.Longchamp-Park {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
}

/* Footer */

.content-wrap {
    padding-bottom: 15em;
}

/* .fFooter { 
   
}*/

.footer {
    position: absolute;
    color: #000;
    background: #f2f2f2;
    height: 15em;
    width: 100%;
    bottom: 0;
    left: 1;
    
}

.footer-about {
    float: left;
    padding: 3% 17% 3% 3%;
}

.footer-accomodations {
    float: left;
    padding: 3% 17% 3% 3%;;
}

.footer-assistance {
    float: left;
    padding: 3% 17% 3% 3%;;
}

.footer ul {
    list-style-type: none;
}

.footer a  {
    text-decoration: none;
}













