/*font-family: 'Raleway', sans-serif;*/

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: 'Raleway', sans-serif;
    height: 100vh;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    /* padding: 0px 40px; */
}

.main-container {
    min-height: 100vh;
    padding: 0 40px;
}

 .header {
    display: inline-block;
    width: 100%;
    height: auto;
}


.logo-box {
    margin-top: 30px;
    display: inline-block;
}

.logo {
    height: 40px;
}

.heading {
    margin-top: 20px;
}
.search {
    margin-top: 39px;
    width: 150px;
    height: 50px;
    border-radius: 20%;
    display: flex;
    align-items: center;
    padding: 0px;
}

.search > i {
    display: flex;
    color: black;
    background:  #e6e9ed;
    height: 100%;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    border-radius: 12px 0px 0px 12px;
}

.search > input {
    height: 100%;
    border: 0.01px solid lightgray;
    outline: none;
    font-size: 16px;
    color: black;
    font-weight: bold;
    padding-left: 10px;
}

.submit {
    width: 100px;
    height: 50px;
    background: #0065FC;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 0px 12px 12px 0px;
}  



.search1 {
    min-width: 255px;
}
.filters {
    margin-top: 55px;
    display: inline-block;
}
.filterP {
    display: inline-block;
    margin-right: 15px;
    color: black;
    font-size: 20px;
    font-weight: bold;
}
.button {
    display: inline-block;
    height: auto;
    width: auto; /* Must be auto */
    border: 2px solid lightgray;
    border-radius: 36px;
    outline: none;
    font-size: 16px;
    background: white;
    color: black;
    font-weight: bold;
    padding: 0 20px;
    cursor: pointer;
    white-space: nowrap;
    
}

.button:hover {
    border: 2px solid #0065FC;
    color: #0065FC;
}


button i {
    display: flex;
    top: auto;
    left: 0;
    height: auto;
    align-items: center;
    justify-content: center;
    min-width: 50px;
    color: #0065FC;
    background: #DEEBFF;
    border-radius: 12px;
}

.information {
    margin-top: 50px;
}


.info-icon {
    color: #0065FC;
    position: relative;
    top: -25px;
    margin-right: 5px;
    border-radius: 50%;
    /* align-items: center; */
    text-align: center;
    line-height: 4px;
    vertical-align: middle;
    border: 0.001px solid #b4adad;
    padding: 10px;
    /* height: 5px; */
    /* width: 5px; */
}

.infoP {
    display: inline-block;
}

.nav , nav {
    width: auto;
    float: right;

}

.navli {
    display: inline-block;
    padding: 40px 20px 0px 20px;
    
}

.sign-up {
    color: #0065FC;
}

.nav-attribute {
    color: black;
    text-align: center;
    cursor: pointer;
    text-decoration: none;

}

.nav-attribute:hover {
    color: #0065FC;
}

.navli:hover {
    padding-top: 37px;
    border-top: 3px solid #0065FC;
}

.input-group{
    display: inline-block;
    inline-size: fit-content;
    margin: 0px 10px;
}
.icon{
    position: relative;
    left: -21px;
    border-radius: 50%;
    align-items: center;
    padding: 15px;
}

/* Accomodatios */

/* .accommodations-main { 
    display: flex;
    justify-content: space-between;
}*/

.accommodations-div {
    margin-top: 45px;
    border-radius: 2%;
    width: 69%;
    background: #f2f2f2;
    padding: 3%;
}
.accomodation-h2 {
    margin-bottom: 25px;
}

.pictures-div {
    display: inline-block;
    border: 3px solid #f2f2f2;
    background-color: white;
    box-shadow: 5px 5px 10px 0px #e1e1e1;
    border-radius: 5%;
    padding: 0.5%;
    margin-bottom: 25px;
    width: 250px;
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 100%;
}

.under-picture {
    padding: 15px;
}
.star {
    color: #0065FC;
    padding-top: 5px;
}

.empty-star {
    color: #f2f2f2;
}


.image1 {
    display: inline-block;
    height: 100px;
    width: 100%;
    object-fit: cover;
    image-rendering: pixelated;
    border-radius: 5% 5% 0 0;
}

.show-more {
    color: #000;
    text-decoration: none;
}

.show-more:hover {
    color: #0065FC;
}

.accommodations-show-more {
    margin-top: 20px;
}

.most-popular {
    margin-top: 45px;
    width: 28%;
    float: right;
    background: #f2f2f2;
    border-radius: 3%;
    padding: 3%;
}

.mp-h2{ 
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
.most-popular-h2 {
    display: inline-block;
}

.trending-icon {
    display: inline-block;
    padding: 10px 10px;
}

.pictures2-div {
    /* float: right; */
    background-color: white;
    box-shadow: 5px 5px 10px 0px #e1e1e1;
    border-radius: 5%;
    padding: 1.5%;
    margin-bottom: 20px;
}

.right-of-picture {
    padding: 5px 15px;
    display: grid;
    grid-gap: 17px;
}

.image2 {
    float: left;
    height: 148px;
    width: 115px;
    object-fit: cover;
    image-rendering: pixelated;
    border-radius: 5% 0 0 5%;
}

.pictures2-flex {
    display: flex;
    flex-direction: column;
}
.most-popular-accomodations-div {
    display: inline-block;
}

/* Activities */

/* .activities-section { 
    min-height: 100vh;
}*/

.activities-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.activities-h2 {
    margin-left: 5px;
    margin-top: 60px;
}

.marseille-pics1 {
    display: inline-block;
    height: 450px;
    width: 330px;
    object-fit: cover;
    image-rendering: pixelated;
    border-radius: 5% 5% 0 0;
}

.marseille-pics2 {
    display: inline-block;
    height: 220px;
    width: 330px;
    object-fit: cover;
    image-rendering: pixelated;
    border-radius: 5% 5% 0 0;
}

.marseille-pics3 {
    display: inline-block;
    height: 135px;
    width: 330px;
    object-fit: cover;
    image-rendering: pixelated;
    border-radius: 5% 5% 0 0;
}

.activities-Marseille {
    display: inline-block;
    border: 1px solid #f2f2f2;
    border-radius: 5%;
    box-shadow: 5px 5px 10px 0px #f2f2f2;
    margin-bottom: 30px;
}

.Marseille-under-pic {
    padding: 15px;
}

.activities-smaller-pics {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}



/* Footer */

.footer {
    margin-top: 50px;
}

.content-wrap {
    position: relative;
    min-height: 100vh;
    padding-bottom: 15em;
}


.footer-container {
    position: absolute;
    color: #000;
    background: #f2f2f2;
    height: auto;
    width: 100%;
    bottom: 0;
}

.footer-about {
    float: left;
    padding: 3% 17% 3% 3%;
}

.footer-accomodations {
    float: left;
    padding: 3% 17% 3% 3%;;
}

.footer-assistance {
    float: left;
    padding: 3% 17% 3% 3%;;
}

.footer-container ul {
    list-style-type: none;
}

.footer-container a  {
    text-decoration: none;
    color: black;
}

/* Media queries */

@media screen and (min-width: 1738px){
    .pictures-div {
         width: 30%;
    }
}

@media screen and (max-width: 529px){ 

    .nav {
        float: none;

    }

    .header .signUp {
        padding: 0;
        float: right;
    }
    .nav-twos {
        float: left;
        position: relative;

    }
} 










